@import "../../../sass/values";
.TableRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 10px;
  border-bottom: 2px solid rgba(33, 63, 125, 0.1);
  padding-block: 20px;
  position: relative;
  align-items: center;
  color: $log-in-text;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: none;
  }
  div {
    font-size: 11px;
  }
  &__elements {
    flex-basis: 15%;
    max-width: 15%;
    width: 15%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $log-in-text;
    font-weight: 500;
    @media (max-width: 928px) {
      flex-basis: 30%;
      width: 30%;
      max-width: 30%;
      display: none;
      &__display{
      display: flex;

    }
    }
  }
  &__container {

    &__status {
      background-color: $pending;
      color: $pending-text;
      text-transform: capitalize;
      padding: 8px 15px;
      border-radius: 99px;
      display: block;
      width: fit-content;
      
      &__active {
        background-color: $active;
        color: $active-text;
      }
      &__inactive {
        background-color: $inactive;
        color: $sidebar-link-text;
      }
      &__blacklisted {
        background-color: $blacklisted;
        color: $error;
      }
    }
  }
  &__menu {
    position: absolute;
    right: -10px;
    padding: 8px 15px;
    border-radius: 99px;
    cursor: pointer;
    transition: background-color 500ms ease-in;
    @media screen and (max-width: 728px) {
      right: -20px;
    }
    &:hover {
      background-color: $inactive;
    }
    &__icon {
      fill: $sidebar-link-text;
      align-self: center;
      cursor: pointer;
    }
  }
  &__dropdown {
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    @media (max-width: 928px) {
      right: -50px;
    }
    border-radius: 5px;
    background-color: white;
    overflow-x: visible;
    border: 1px solid rgba(84, 95, 125, 0.04);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 10px 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    transform: scale(0);
    transform-origin: top;
    transition: transform 200ms ease-in;
    &__active {
      transform: scale(1);
    }
    &__item {
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 500ms ease-in;
      display: inline-flex;
      align-items: center;
      gap: 15px;

      &:hover {
        background-color: $inactive;
      }
      span {
        display: block;
      }
    }
  }
}
