$log-in-button: #39CDCC;
$log-in-button-hover: #2E9E9D;
$log-in-heading: #213F7D;
$log-in-text: #545F7D;
$input-border: 2px solid rgba(84, 95, 125, 0.15);
$input-focus-border: 2px solid rgba(84, 95, 125, 0.5);
$error: #E4033B;