@import "../../../sass/values";
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 50;
  &__left {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    align-items: center;
    &__logo{
      width: 120px;
    }
    &__search {
      display: flex;
      align-items: center;
      width: 50%;
      height: 50px;
      &__input {
        width: 100%;
        padding: 10px 20px;
        --border-top-left-radius: 8px;
        --border-top-right-radius: 0;
        --border-bottom-left-radius: 8px;
        --border-bottom-right-radius: 0;
        border-right: 0;
      }
      &__searchbar {
        display: flex;
        align-items: center;
        background-color: $log-in-button;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        padding-inline: 15px;
        height: 100%;
        margin-left: -20px;
        &__icon {
          width: auto;
        }
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    flex-basis: 25%;
    justify-content: space-between;
    &__docs{
      text-decoration: underline;
    }
    &__user {
      display: flex;
      align-items: center;
      gap: 15px;
      &__avatar {
        border-radius: 99px;
      }
      &__info {
        display: flex;
        align-items: center;
        gap: 15px;
      }
    }
  }
}
