.Layout {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "sidebar body body"
    "sidebar body body";
  grid-template-columns: 0.22fr 1fr;
  grid-template-rows: repeat(auto, 3);
  &__nav {
    grid-area: nav;
  }
  &__sidebar {
    grid-area: sidebar;
  }
  &__body {
    grid-area: body;
  }
}
