@import "../../../sass/values";
.SelectViews {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  position: relative;
  &__container {
    align-self: flex-start;
    top: 0;
    display: flex;
    background-color: $select-input;
    border-radius: 4px;
    width: fit-content;
    align-items: center;
    height: fit-content;
    position: relative;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    &__active{
      margin-bottom: 200px;
    }

    &__selected {
      font-size: 14px;
      color: $sidebar-link-text;
      font-weight: 500;
      margin-right: 15px;
    }
    &__icon {
      cursor: pointer;
      fill: $sidebar-link-text;
      transition: transform 500ms ease-in-out;
      &__active {
        fill: $active;
        transform: rotate(180deg);
      }
    }
  }
  &__select {
    height: 0;
    top: 50px;
    transition: all 500ms ease-in;
    transform-origin: top;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    background-color: $select-input;
    border-radius: 4px;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    &__option {
      padding: 5px 15px;
      font-size: 14px;
      color: $sidebar-link-text;
      font-weight: 500;
      cursor: pointer;
      transition: background-color, color 500ms ease-in;
      &:hover {
        color: #fff;
        cursor: pointer;
        background-color: $sidebar-link-text-hover;
      }
    }
  }
}
