@import "../../sass/values";
.UserDashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 85vh;
  height: 100%;
  width: 100%;
  background: $dashboard-background;
  padding: 30px;
  gap: 30px;
  &__heading {
    font-size: 24px;
    font-weight: 500;
    color: $sidebar-link-text;
  }
  &__stats {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    gap: 30px;
    &:active{
      cursor: grab;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
