@import '../../../sass/values';
.Table {
  width: 100%;
  height: max-content;
  background-color: $user-stats;
  font-size: 14px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  color: $log-in-text;
  gap: 20px;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  &__servererror {
            display: flex;
              flex-direction: column;
              align-items: center;
              width: 100%;
              padding: 30px;
              background-color: #fff;
              border: 1px solid rgba(33, 63, 125, 0.06);
              box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
              border-radius: 4px;
            
              &__heading {
                font-size: 16px;
                font-weight: 600;
                color: $sidebar-link-text;
              }
            
              &__text {
                font-size: 14px;
                color: $sidebar-link-text;
                font-weight: 500;
              }
  }
  &__loading {
    align-self: center;
    width: 45px;
    animation: spin 1s linear 0s infinite forwards;
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  &__row {
    display: flex;
    font-size: 12px;
    flex-direction: column;
  }
  &__footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @media screen and (max-width: 928px) {
      flex-direction: column;
      align-items: flex-start;
    }
    &__select {
      display: flex;
      gap: 15px;
      padding: 15px 20px;
      @media screen and (max-width: 928px) {
        width: fit-content;
        margin-inline: auto;
        justify-content: space-between;
      }
      span {
        color: $log-in-text;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        display: block;
        top: 10px;
      }
    }
    &__navigation {
      display: flex;
      align-items: center;
      gap: 25px;
      height: fit-content;
      padding: 15px 20px;
      @media screen and (max-width: 928px) {
        width: 50%;
        margin-inline: auto;
        justify-content: space-between;
      }
      @media screen and (max-width: 928px) {
        width: fit-content;
        margin: auto;
      }
      &__icon {
        cursor: pointer;
        background-color: $table-navigation-icon;
        transition: background-color 500ms ease-in;
        &:hover {
          background-color: $table-navigation-icon-hover;
          svg {
            fill: $sidebar-link-text-hover;
          }
        }
        border-radius: 4px;
        padding: 5px;
        svg {
          fill: $sidebar-link-text;
        }
      }
      &__details {
        display: flex;
        align-items: center;
        gap: 25px;
        @media screen and (max-width: 928px) {
          width: 100%;
          justify-content: space-between;
        }
        &__unit {
          font-size: 12px;
          color: $sidebar-link-text;
          cursor: pointer;
          opacity: 0.6;
          transition: all 500ms ease-in-out;
          &__active,
          &:hover {
            opacity: 1;
            font-weight: 600;
          }
        }
      }
    }
  }
}
