@import "../../../sass/values";
.UsersStats{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    border: 1px solid rgba(33, 63, 125, 0.06);
    background-color: $user-stats;
    width: 22%;
    @media screen and (max-width: 928px) {
        width: 300px;
        
    }
    gap: 15px;
    flex: 0 0 auto;
    &__heading{
        font-size: 12px;
        font-weight: 500;
        color: $sidebar-link-text;
        white-space: nowrap;
    }
    &__count{
        font-size: 24px;
        font-weight: 500;
        color: $sidebar-link-text;
    }
}